@model Dominio.TipoPlanta

@{
    ViewData["Título"] = "Error";
}
<div class="alert alert-danger" role="alert">
    <p>@ViewBag.Mensaje</p>
</div>
<a onclick="history.go(-1); return false;" href="#"><i class="fa-solid fa-angle-left"></i></a>
