@model Dominio.Planta

@{
    ViewData["Title"] = "Crear Planta";
}

<h1>Crear Planta</h1>

<h4>Planta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePlanta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NombreCientifico" class="control-label"></label>
                <input asp-for="NombreCientifico" class="form-control" />
                <span asp-validation-for="NombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPlanta" class="control-label"></label>
                <select class="control-label" id="IdTipoPlanta" name="IdTipoPlanta">
                    @*@foreach(var item in Model.ListaTipoPlantas)
            {
                <option value="@item.IdTipoPlanta">@item.TipoNombre</option>
            }*@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FichaCuidados" class="control-label"></label>
                <select class="control-label" id="IdFichaCuidados" name="IdFichaCuidados">
                    @*@foreach(var item in Model.ListaFichas)
            {
                <option value="@item.IdFichaCuidados">Ficha @item.IdFichaCuidados</option>
            }*@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Ambiente" class="control-label">Seleccionar ambiente</label>
                <select class="control-label" id="Ambiente" name="Ambiente">

                    <option value="Interior">Interior</option>
                    <option value="Exterior">Exterior</option>
                    <option value="Mixta">Mixta</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresVulgares" class="control-label"></label>
                <input asp-for="NombresVulgares" class="form-control" />
                <span asp-validation-for="NombresVulgares" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

