@model Dominio.Planta
@{
    ViewData["Title"] = "SearchType";
}

<h1>Busqueda por tipo de planta</h1>

<div class="row">
    <div class="col-md-4">
        <div>
            <a asp-action="Index">Listar Todas</a>
        </div>
        <form asp-action="SearchType" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TipoPlanta" class="control-label"></label>
                @Html.DropDownListFor(model => model.TipoPlanta.IdTipoPlanta, new SelectList(@ViewBag.TipoPlanta, "IdTipoPlanta", "TipoNombre"), "Seleccione...", new { @class = "form-control" })
                <span asp-validation-for="@Model.TipoPlanta.IdTipoPlanta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

